:root {
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --small-padding: clamp(2rem, 1.9rem + 0.6vw, 2.7rem);
    --small-text-size: clamp(0.6rem, 0.5rem + 0.6vw, 0.8rem);
    --normal-text-size: clamp(0.9rem, 0.8rem + 0.6vw, 1.2rem);
    --header-text-size: clamp(1.3rem, 1rem + 0.6vw, 1.6rem);
}

html {
    font-size: 13px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: var(--grey-100);
    text-align: left;
    color: var(--white);
    font-weight: 500;
    font-size: var(--normal-text-size);
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 2rem;
    font-size: var(--text-size);
    margin: auto;
    width: clamp(15rem, 80%, 30rem);
}

.card {
    display: flex;
    flex-direction: column;
    padding: var(--small-padding);
    border-radius: 1rem;
    gap: 1rem;
    box-shadow: var(--grey-200) 2rem 2rem 1.8rem;
}

.card .avatar-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.card .avatar-holder .avatar-img {
    max-inline-size: 100%;
    block-size: auto;
    border-radius: 50%;
    border: 0.2rem solid var(--white);
}

.card .avatar-holder .avatar-name-and-role .avatar-role{
    font-size: var(--small-text-size);
}
.card .overall-review {
    font-size: var(--header-text-size);
}

.card .detailed-review {
    font-size: var(--normal-text-size);
}

.card.testimonial-1 {
    background-color: var(--purple-500);
}

.card.testimonial-1 .avatar-holder .avatar-img {
    border-color: var(--purple-300);
}

.card.testimonial-2 {
    background-color: var(--grey-400);

}

.card.testimonial-2 .avatar-holder .avatar-img {
    border-color: var(--grey-100);
}

.card.testimonial-3 {
    background-color: var(--white);
    color: var(--grey-500);

}

.card.testimonial-3 .avatar-holder .avatar-img {
    border-color: var(--grey-100);
}

.card.testimonial-4 {
    background-color: var(--dark-blue);
    color: var(--grey-200);

}

.card.testimonial-4 .avatar-holder .avatar-img {
    border-color: var(--purple-500);
}

.card.testimonial-5 {
    background-color: var(--white);
    color: var(--grey-500);
}

.card.testimonial-5 .avatar-holder .avatar-img {
    border-color: var(--grey-100);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (width >= 53rem) {
    main {
        width: clamp(40rem, 80%, 60rem);
        grid-template-areas:
            'first-card first-card first-card'
            'last-card last-card second-card'
            'third-card fourth-card fourth-card';
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 2.5rem;
    }

    .card.testimonial-1 {
        grid-area: first-card;
        background-image: url("./images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: right 4rem top;
    }

    .card.testimonial-2 {
        grid-area: second-card;
    }

    .card.testimonial-3 {
        grid-area: third-card;
    }

    .card.testimonial-4 {
        grid-area: fourth-card;
    }

    .card.testimonial-5 {
        grid-area: last-card;
    }
}

@media screen and (width >= 70rem) {
    main {
        width: clamp(65rem, 70%, 100rem);
        grid-template-areas:
            'first-card first-card second-card last-card'
            'third-card fourth-card fourth-card last-card';
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        gap: 3rem;
    }

    .card.testimonial-1 {
        grid-area: first-card;
        background-image: url("./images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: right 5rem top;
    }

    .card.testimonial-2 {
        grid-area: second-card;
    }

    .card.testimonial-3 {
        grid-area: third-card;
    }

    .card.testimonial-4 {
        grid-area: fourth-card;
    }

    .card.testimonial-5 {
        grid-area: last-card;
    }
}
